<h1> Login</h1>  

<%= flash[:error] %><br>

<div class="form">
    <%= form_tag users_path do %>
 
        <%= render  "users/new" %><br>

        <%= submit_tag "Login" %><br><br>


        <%= link_to('Log in with Facebook!', '/auth/facebook') %>

    <%end%>
</div>