<h1> Join the Crew </h1><br>

<%= render partial: 'layouts/errors', locals: {i: @user} %>

<div class="form">
    <%= form_tag users_path do %>
        
        <br><label> USERNAME: </label>
        <%= text_field_tag :username %><br>

        <%= render "new" %><br>

        <%= submit_tag "Join Now" %>
    <%end%>
</div>