<h1>New Reaction to </h1>

<%= flash[:error] %>
<br>
<%= form_for(@reaction) do |f|%>

<div>
    <%= f.label :comment %>
    <%= f.text_area :comment %>
</div>
<div>
    <%= f.hidden_field :review_id %>
</div><br>
    <%= f.submit "REACT" %>

<% end %>