<h1>Review Form Here</h1>

<%= render partial: 'layouts/errors', locals: {i: @review} %>

<%= form_for(@review) do |f| %>

    <%= f.label :title, "TITLE:" %>
    <%= f.text_field :title %>

    <%= f.label :content, "CONTENT:" %>
    <%= f.text_area :content %>

    <%= f.submit "Share Your Opinion"%>

<% end %>

<%= form_tag %>
#search field
#need a place for song/album image and song preview