<h1>Review Form Here</h1>

<%= render partial: 'layouts/errors', locals: {i: @review} %>

<%= form_for(@review) do |f| %>
<ul>
    <li><%= f.label :title, "TITLE:" %></li>
    <li><%= f.text_field :title %></li>

    <li><%= f.label :content, "CONTENT:" %></li>
    <li><%= f.text_area :content %></li>

    <%= f.submit "Share Your Opinion"%></li>
</ul>
<% end %>

<%= form_tag("/search", method: "get") do %>
<br>
    <%= label_tag(:q, "Search For:")%>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search")%>
<br>
<% end %>

#need a place for song/album image and song preview