<h1>Review Form Here</h1>

<%= form_for(@review) do |f| %>

    <%= f.label :title, "TITLE:" %>
    <%= f.text_field :title %>

    <%= f.label :content, "CONTENT:" %>
    <%= f.text_area :content %>

    <%= f.submit "Share Your Opinion"%>

<% end %>