<h1>Single Review Show Page</h1>

<h3>Your <%= @review.title.capitalize %> review for "<%= @review.song_or_album_name%>" by 
<%= @review.artist_name %> </h3>
<p><%= @review.content %><p>






<%= link_to "Edit Review", edit_review_url(@review.id)%>