
<h1>Ooo, that's a good one!</h1>
<br>

<div class="container">
    <div class="child">
        <h3>"<%= @review.title.capitalize %>" for </h3><br>
        
        <h3> <%= @review.song_or_album_name%></h3><br>
        <h3> by </h3><br>
        <h3> <%= @review.artist_name %>: </h3><br>
                <p><%= @review.content %><p>
<br>
<% if @review.user != current_user%>
    <%= link_to "React to this Review", new_review_reaction_path(@review.id)%>
<% end %>
    </div>
</div>


<% if logged_in? && @review.user == current_user%>
<ol>
    <li><%= link_to "Edit Review", edit_review_url(@review.id)%></li>
</ol>

<ol>
    <li><%= link_to "Delete Review", review_path(@review), method: :delete %></li>

</ol>
<% end %>
