<!DOCTYPE html>
<html>
  <head>

    <title>Melomaniacs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


 <ul class="navbar-toggler-icon">  
    <li><%= link_to "HOME", '/'%></li>
    <li><%= link_to "REVIEWS", reviews_path %></li>
    <li><%= link_to "MUSIC", tracks_path %></li>
    <li><%= link_to "LOGOUT", logout_path, method: :delete%></li>
  </ul>
  <body>

    <%= yield %>

  </body><br>

    <footer class="branding">
        <small>&copy; 2020 <strong>The Melomaniacs</strong></small>
    </footer>
    
</html>
