<!DOCTYPE html>
<html>
  <head>

    <title>Melomaniacs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


 <ul class="navbar-toggler-icon">  
    
  <% if logged_in? %>
    <li><%= link_to "HOME", user_path(current_user.id) %></li>
    <li><%= link_to "NEW REVIEW", new_review_path %></li>
    <li><%= link_to "REVIEWS", reviews_path %></li>
    <li><%= link_to "REACTIONS", reactions_path %></li>
    <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
  <% else %>
      <li><%= link_to "HOME", '/'%></li>
  <% end %>
  </ul>
  <body>

    <%= yield %>

  </body><br>
    
</html>
