<!DOCTYPE html>
<html>
  <head>

    <title>Melomaniacs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


 <span class="navbar-toggler-icon">  
    <%= link_to "HOME", '/'%><br>
    <%= link_to "REVIEWS", reviews_path %><br>
    <%= link_to "LOGOUT", logout_path, method: :delete%><br><br>
  </span>
  <body>

    <%= yield %>
  </body><br>

    <footer class="branding">
        <small>&copy; 2020 <strong>The Melomaniacs</strong></small>
    </footer>
    
</html>
